:root {
  --board_row_count: 6;
  --board_col_count: 12;
  --border_color: white;
}

body{
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-col {
  flex-direction: column;
  justify-content: center;
  margin-left: 2%;
}

main {
  height: 100%;
}

.game-status {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: large;
}

.sidebar {
  order: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.deck-box {
  display: flex;
  order: 0;
  flex-direction: row;
  flex-grow: 1;
  border-width: 2px;
  border-style: solid;
  border-color: var(--border_color);
  height: 25%;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.deck-button {
  min-width: 15vh;
  min-height: 20vh;
  background-color: gray;
  border-radius: 10%;
}

.deck-button-active {
  filter: drop-shadow(10px 10px 10px red);
}

.usedCard {
  opacity: 0.5;
}

.carta {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  color: white;
  min-width: 15vh;
  min-height: 20vh;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 10%;
  font-size: small;
}

.RED {
  background-color: red;
}

.GREEN {
  background-color: green;
}

.BLUE {
  background-color: blue;
}

.YELLOW {
  background-color: orange;
}

.score-board {
  order: 1;
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  border-width: 2px;
  border-style: solid;
  border-color: var(--border_color);
  height: 75%;
  overflow: auto;
  text-align: center;
}

.team-box {
  border-style: solid;
  border-top-style: solid;
  border-color: var(--border_color);
  border-width: 2px;
  padding-bottom: 5vh;
  border-left: none;
  border-right: none;
}

.player-box {
  display: flex;
  min-height: 7vh;
  flex-direction: row;
  border-width: 2px;
  border-style: solid;
  border-color: var(--border_color);
  margin-right: 10%;
  margin-left: 10%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.player-image {
  order: 0;
  width: 7vh;
  height: 7vh;
  border-radius: 150px;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
}

.player-name {
  order: 1;
  padding-right: 5px;
}

.player-score {
  order: 2;
}

.player-shield {
  order: 3;
  width: 5vh;
  height: 5vh;
}

.gameboard {
  position: relative;
  order: 1;
  flex-grow: 10;
  height: 100%;
  border-collapse: collapse;
  border-style: solid;
  border-color: var(--border_color);
}

.gameboard tr {
  height: calc(100% / var(--board_row_count));
}

.gameboard-cell {
  width: calc(100% / var(--board_col_count));
  min-width: 32px;
  min-height: 32px;
  text-align: center;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 20px;
}

.gameboard-cell > b {
  color: black;
  font-size: x-large;
}

.red-cell {
  background-image: url("../Images/Images-board/svg/red-cell.svg");
}

.blue-cell {
  background-image: url("../Images/Images-board/svg/blue-cell.svg");
}

.yellow-cell {
  background-image: url("../Images/Images-board/svg/yellow-cell.svg");
}

.green-cell {
  background-image: url("../Images/Images-board/svg/green-cell.svg");
}

.safe-cell {
  background-image: url("../Images/Images-board/svg/white-cell.svg");
  font-size: 20px;
  color: black;
}

.start-cell {
  background-image: url("../Images/Images-board/svg/white-cell.svg");
  font-size: 20px;
  color: black;
}

.cell-active {
  filter: drop-shadow(10px 10px 10px red);
}

.player {
  position: absolute;
  height: 70px;
  top: 1s;
  transition: left 1s ease-out, top 1s;
}

.player-active {
  filter: drop-shadow(10px 10px 10px red);
}

.player-icon {
  max-height: 55px;
  min-height: 30px;
  max-width: 55px;
  min-width: 30px;
}

/* MODALES DE PRUEBA */

.modalContainer {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContainer .modal-content {
  background-color: black;
  margin: auto;
  padding: 20px;
  border: 1px solid lightgray;
  border-top: 10px solid #58abb7;
  width: 60%;
}

.modalContainer .close {
  color:black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color:black;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.closeModal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.mensajeFinal{
  text-align: center;
}
